.about {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about-text {
  max-width: 800px;
  padding: 4rem 2rem;
  margin: 0 auto;
  
}

.about-text p {
  font-size: 1.05rem;
  line-height: 1.7;
  color: #aaa;
  margin-bottom: 1.5rem;
}
